@import '../../CSS/variables.css';
@import '../../CSS/animations.css';

.field-details {
  margin: 20px 100px;
}

.field-details h2, h3, p {
  color: var(--almost-white);
}

.field-details-titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.field-details-titles h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.field-details-titles p {
  line-height: 1.8em;
  margin-left: 20px;
}

.field-title-description {
  margin-bottom: 10px;
}

.field-title-header {
  font-weight: 500;
  background-color: var(--transp-grey-background);
}

.earning-details-toggle-roi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.earning-details-toggle-roi h3 {
  font-size: 0.95em;
  color: var(--offwhite);
  margin-right: 5px;
}

.field-details-numbers {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 60px;
}

.field-overview {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0px 2px 0px var(--periwinkle);
  border-width: 1px;;
  width: 160px;
  height: 100px;
}

.field-overview:last-child {
  margin-left: 40px;
}

.field-overview h2 {
  text-align: center;
}

.field-overview p {
  font-size: 1.2em;
  font-weight: bold;
}

.field-details-combined-roi {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-right: var(--field-details-margin-right);
  margin-bottom: 15px;
}

.field-details-combined-roi h2 {
  margin-bottom: 15px;
}

.combined-roi-earnings-chart {
  position: relative;
  height: 250px;
  width: 500px;
}

.field-transactions {
  margin: 40px 0 10px 0;
}

.field-transactions h2 {
  margin-left: 20px;
}

.field-transactions-table {
  margin: 10px var(--details-page-margin-right) 0 20px;
  border-width: 1px;
  border-radius: 10px;
}