@import '../../CSS/variables.css';

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px 0;
  padding: 0 80px 20px 50px;
}

.nav-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-height: 45px;
  min-width: 165px;
}

.nav-logo img {
  align-self: flex-start;
  justify-self: flex-start;
  height: 45px;
  width: 165px;
}

.nav-items {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.nav-items p {
  font-size: 15px;
  font-weight: normal;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
} 

.nav-links p {
  margin-right: 30px;
}

.nav-address-button {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  border-radius: 30px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  background-color: var(--transp-grey-background);
}

.nav-address-button p {
  margin-right: 8px;
}

.nav-address-button canvas {
  border-radius: 100%;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}