@import "./CSS/variables.css";

* {
  box-sizing: border-box;
}

body {
  all: unset;
  background-color: var(--lilac);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  position: relative;
}

a, button {
  all: unset;
}

h1, h2, h3, p {
  all: unset;
}