* {
  box-sizing: border-box;
}

body {
  background-color: rgb(137, 96, 159);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

a, button {
  all: unset;
}