@import '../../CSS/variables.css';

.mini-toggle-container {
  display: flex;
}

.mini-toggle-container p {
  font-size: 0.7em;
  font-weight: normal;
  color: var(--offwhite);
}

.mini-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 14px;
  width: 24px;
  border-radius: 8px;
  position: relative;
  margin: 0 5px 0 5px;
  border: 1px solid #474755;
  background: linear-gradient(180deg, var(--dark-grey-font) 0%, var(--darkest-grey-font) 100%);
}
.mini-toggle:focus {
  outline: 0;
}
.mini-toggle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.mini-toggle:checked {
  border-color: var(--periwinkle);
}
.mini-toggle:checked:after {
  transform: translatex(10px);
}