@import '../../CSS/variables.css';

.maxi-toggle-container {
  display: flex;
}

.maxi-toggle-container p {
  font-size: 0.7em;
  font-weight: normal;
  color: var(--offwhite);
}

.maxi-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 28px;
  width: 48px;
  border-radius: 16px;
  position: relative;
  /* margin: 0 5px 0 5px; */
  border: 2px solid #474755;
  background: linear-gradient(180deg, var(--light-grey-font) 0%, var(--dark-grey-font) 100%);
  transition: all .2s ease;
}
.maxi-toggle:focus {
  outline: 0;
}
.maxi-toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all .2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.maxi-toggle:checked {
  border-color: var(--periwinkle);
  background: linear-gradient(180deg, var(--light-grey-font) 0%, var(--success-green) 100%);;
}
.maxi-toggle:checked:after {
  transform: translatex(20px);
}