.summary-table {
  background-color: white;
  border-collapse: separate;
  border-spacing: 0px 15px;
  padding: 20px;
  border-radius: 10px;
}

.summary-table-row {
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
  cursor: pointer;
}

tr {
  transition: 0.4s;
}

.summary-table-row:hover {
  box-shadow: 0 1px 6px 4px rgba(166,60,146,.1);
}
