footer {
  position: absolute;
  bottom: 40px;
  left: 100px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  color: darkgrey;
}

footer span {
  margin-left: 1px;
  margin-right: 1px;
}