@import '../../CSS/variables.css';
@import '../../CSS/animations.css';

.box-container-headline {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
}

.box-container-headline h2 {
  flex: 1;
  margin-right: 20px;
  color: white;
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  font-weight: 500;
}

.container-headline-data {
  display: flex;
  flex: 4;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.container-headline-data h3 {
  color: var(--almost-white);
  padding-right: 35px;
  font-size: 1.2em;
}

.container-headline-data h3:last-child {
  padding-right: 0;
}

.container-headline-data .headline-performance-green {
  color: var(--performance-green);
}

.container-headline-data .headline-performance-red {
  color: var(--performance-red);
}

.dropdown-button-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-top: 7px;
}

.summary-table-container {
  display: none;
  transform-origin: top center;
  padding: 0px 20px 20px 20px;
}