@import '../../CSS/variables.css';

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 14px;
  width: 24px;
  border-radius: 8px;
  /* display: inline-block; */
  position: relative;
  margin: 0;
  border: 1px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: var(--modal-dot);
}
.toggle:checked:after {
  transform: translatex(10px);
}