.welcome {
  display: flex;
  position: relative;
}

.welcome-splash {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.splash-text {
  display: flex;
  flex-direction: column;
}

.welcome-splash h1, h2 {
  all: unset;
  color: white;
  margin-left: 120px;
  margin-bottom: 50px;
}

.welcome-splash h1 {
  margin-top: 50px;
  font-size: 3.5em;
  font-weight: 700;
  font-family: 'Baloo 2', cursive;
}

.welcome-splash h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.splash-connect {
  align-self: center;
}

.welcome-media {
  flex: 3;
  max-height: 300px;
  position: relative;
}

.welcome-media-image {
  max-width: 85%;
}

Link {
    text-decoration: none;
}

.welcome-button {
  display: flex;
  justify-content: center;
  background-color: rgb(87, 195, 225);
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  margin: 45px 50px 50px 50px;;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}