@import '../../CSS/variables.css';
@import '../../CSS/animations.css';

.summary-overview-cards-container {
  display: flex;
  margin: 20px 50px 50px 50px;
  justify-content: space-around;
}

.summary-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  margin: 20px 50px;
  padding: 0px 20px 0px 20px;
}

.summary-container h2 {
  margin-right: 20px;
  color: white;
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  font-weight: 500
}

.container-header {
  display: flex;
  /* margin-top: 0.83em; */
  margin-bottom: 0.83em;
}

.dropdown-button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.summary-table-container {
  display: none;
  transform-origin: top center;
}