.summary-container {
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  border-radius: 10px;
  position: relative;
  margin: 20px 50px;
  padding: 0px 20px 20px 20px;
}

.summary-container h2 {
  color: #172B4D;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  font-weight: bold
}

.summary-table-row {
  height: 45px;
}

