@import '../../CSS/variables.css';

.summary-overview-cards-container {
  display: flex;
  margin: 20px 50px 50px 50px;
  justify-content: space-around;
}

.summary-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  margin: 20px 50px;
  padding: 0px 20px 20px 20px;
}

.summary-container h2 {
  color: white;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  font-weight: 500
}

.summary-container-header {
  display: flex;
}

.summary-container-table {
  display: block;
  transform-origin: top center;
  /* opacity: 0; */
  /* animation-fill-mode: forwards; */
  /* transition: 1s; */
  /* animation: fade 1s; */
  /* animation: growDown 3s ease-in-out forwards; */
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  100% {
    transform: scaleY(1)
  }
}