@import '../../CSS/variables.css';
@import '../../CSS/animations.css';

.summary-overview-cards-container {
  display: flex;
  margin: 20px 50px 50px 50px;
  padding: 0 100px;
  justify-content: space-around;
}

.account-overview {
  margin: 20px 50px 0 50px;
  padding: 0px 20px 10px 20px;
  box-shadow: 0 6px 2px -6px var(--periwinkle);
}

.account-overview h1 {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--transp-offwhite);
}

.summary-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  margin: 20px 50px 0 50px;
  padding: 0px 20px 0px 20px;
  background-color: var(--opaque-grey)
}