.overview-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0px 2px 0px var(--periwinkle);
  min-width: 220px;
  min-height: 120px;
}

.card-headline, .card-headline-green, .card-headline-red {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.card-headline h1, .card-headline-green h1, .card-headline-red h1 {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--offwhite);
  margin-bottom: 15px;
}

.card-headline h2 {
  font-size: 1.5em;
  color: var(--almost-white);
}

.card-headline-green h2 {
  font-size: 1.5em;
  color: var(--performance-green);
}

.card-headline-red h2 {
  font-size: 1.5em;
  color: var(--performance-red);
}

.card-headline h2:before {
  content: '$';
}

.card-headline-green h2:after, .card-headline-red h2:after {
  content: '%';
}
